<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saneo's page</title>
</head>
<body>
    <h2>This is saneo's first web page!</h2>
    <h2>My name {{id}}</h2>
    <h1>What do you want??</h1>
    <li><a href = "/register">Register</a></li><br>
    <li><a href = "/login">Login</a></li><br>
    <li><a href = "/pwchange">Password change</a></li><br>
    <li><a href = "/delete">Delete</a></li><br>
</body>
</html>